.chatBoxField {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.chatMessage {
  background-color: #575757;
  padding: 8px 13px;
  border-radius: 5px;
  color: white;
}

.chatMessageRight {
  background-color: #262626;
  padding: 8px 13px;
  border-radius: 5px;
  color: white;
}

.triangleLeft {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #575757;
}

.triangleRight {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 15px solid #262626;
}
