.productImage {
  width: 100%;
}

.cardTransaction:hover {
  cursor: pointer;
}

.transactionImageField {
  width: 100px;
  height: 100px;
}

.columns {
  padding: 0;
  margin: 0;
}

.halfHeight {
  height: 50px;
}

.fullHeight {
  height: 100%;
}
