.profile-img {
  border-radius: 100%;
}

.chat-name {
  margin-bottom: 0;
}

.chat {
  color: #ffffff;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bgIsActive {
  background-color: #1c1c1c;
}

.border-radius-3 {
  border-radius: 3px;
}